.DS_Store
build/
dist/
typechain-build/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.secret
.privateKey
.contractAddress
.infuraProjectID

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln